// Modal
#product_description.modal.fade(tabindex='-1', role='dialog', aria-labelledby='product_info')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#product_info.modal-title Hipster Ultimate
      .modal-body.clearfix
        .alert.alert-info(role="alert")
          span.glyphicon.glyphicon-info-sign
          |  Este producto está agotado
        .col-md-6.col-lg-6.col-sm-6.col-xs-12
          img.img-thumbnail(src="https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-1.jpg")
        .col-md-6.col-lg-6.col-sm-6.col-xs-12
          p Precio: 
            b $229
          p Calificación:
            - for (var i = 0; i < 4; i++) 
              span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          .category__label_container
            span.label.label-warning.category__label_item Hipster
            span.label.label-default.category__label_item Deportiva
          p.text-primary
            span.glyphicon.glyphicon-heart
            | &nbsp;Agregar a los deseos
        .col-md-12.col-lg-12.col-sm-12.col-xs-12.product__menu
          ul.nav.nav-tabs.product__menu_tabs(role="tablist")
            li(role="presentation").active
              a(href="#description" role="tab" aria-controls="description" data-toggle="tab") Descripción
            li(role="presentation") 
              a(href="#comments" role="tab" aria-controls="comments" data-toggle="tab") Comentarios
          .tab-content
            .tab-pane.fade.in.active#description(role="tabpanel")
              p.product__menu_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim labore nam, necessitatibus reprehenderit explicabo quae accusamus nemo dolor eos sed natus eveniet nisi! Veritatis aliquam minima, at nulla quod saepe!
            .tab-pane.fade#comments(role="tabpanel")
              .panel.panel-default
                .panel-heading German comentó hace 2 días
                .panel-body
                  | Esta camisa está increíble, la quiero!
              textarea.form-control(name="comentario" placeholder="Ingresa tu comentario").col-md-12
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
        button.btn.btn-primary(type='button') Comprar
