doctype html
html
  head
    include ./views/includes/head.jade
  body
    header
        include ./views/layouts/header.jade
    
    footer
        include ./views/includes/footer.jade
    include ./views/includes/scripts.jade