doctype html
html
  head
    include ./views/includes/head.jade
  body
    .container.app__container
        include ./views/layouts/header.jade
      footer
        include ./views/includes/footer.jade
      
      include ./views/includes/modal.jade
      
      include ./views/includes/scripts.jade
