doctype html
html
  head
    include ./views/includes/head.jade
  body
    .container.app__container
      include ./views/includes/menu.jade
      .row.full__container

        .col-md-3.col-lg-3.left__container
          // Search input
          .input-group.search__input
            input(type="search" placeholder="Buscar Camisetas").form-control
            span.input-group-btn
              button.btn.btn-default(type="button")
                span(aria-hidden="true").glyphicon.glyphicon-search
          include ./views/layouts/categories.jade

        .col-md-9.col-lg-9.right__container
          include ./views/layouts/carousel.jade
          include ./views/layouts/thumbnails.jade

    include ./views/includes/modal.jade
    include ./views/includes/scripts.jade
