- var categories = [{ tipo: "Todos", cantidad: 100 },{tipo: "Hombre", cantidad: 4 },{tipo: "Mujer", cantidad: 12 },{tipo: "Hipster", cantidad: 24 },{tipo: "Metal", cantidad: 6 },{tipo: "Universidad", cantidad: 5 },{tipo: "Deportiva", cantidad: 8 },{tipo: "Rayas", cantidad: 11 },{tipo: "Apretada", cantidad: 19 }]
.badge__container
  div.list-group
    each item, index in categories
      if index >= 1
        a(href="").list-group-item= item.tipo
          span.badge= item.cantidad
      else
        a(href="").active.list-group-item= item.tipo
          span.badge= item.cantidad 
