.app__container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.menu {
	padding: 0 30px;
}

.full__container {
	margin: 0 40px;
	margin-top: 20px;
}

.thumbnails__container {
	margin-top: 21px;
}

.search__input {
	margin-bottom: 21px;
}

.cart__button, .category__label_item {
	margin-right: 5px;
}

.category__label_container {
	margin-bottom: 10px;
}

.product__menu {

	&_tabs {
		margin: 20px 0;
	}

	&_text {
		margin: 15px 0 0 17px;
	}
}
