include ../includes/menu.jade

.row.full__container
  .col-md-3.col-lg-3.left__container
    .input-group
        input(type="search" placeholder="Buscar Camisetas").form-control
        span.input-group-btn
          button.btn.btn-default(type="button")
            span(aria-hidden="true").glyphicon.glyphicon-search
    .categories__container
      h4 Categorías
      include header/categories.jade
  .col-md-9.col-lg-9.right__container
      include header/carousel.jade
    
