include ../mixins/product.jade
.row.thumbnails__container
  +product(
    'https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-1.jpg',
    'Hipster Ultimate',
    'La camiseta ideal para hipsters', true
  )
  +product(
    'https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-2.jpg',
    'On Motion Live',
    'Perfecta para salidas rocosas'
  )
  +product(
    'https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-3.jpg',
    'Hipster Ultimate',
    'Para los amantes de underground'
  )
  +product(
    'https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-4.jpg',
    'Hipster Ultimate',
    'La camiseta ideal para hipsters'
  )
  +product(
    'https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-5.jpg',
    'Hipster Ultimate',
    'La camiseta ideal para hipsters'
  )
